.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}
.btn .caret {
  border-top-color: #ffffff;
}
.dropup .btn .caret {
  border-bottom-color: #ffffff;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn + btn {
  margin-left: -1px;
}
.btn-group > .btn:hover,
.btn-group > .btn:active {
  z-index: 2;
}
.btn-toolbar:before,
.btn-toolbar:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.btn-toolbar:after {
  clear: both;
}
.btn-toolbar:before,
.btn-toolbar:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.btn-toolbar:after {
  clear: both;
}
.btn-toolbar .btn-group {
  float: left;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn-group {
  margin-left: 5px;
}
.btn-group > .btn {
  position: relative;
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
}
.btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
.btn-large .caret {
  border-width: 5px;
}
.dropup .btn-large .caret {
  border-bottom-width: 5px;
}
.btn-group-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.btn-group-vertical .btn:first-child {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.btn-group-vertical .btn:last-child {
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical .btn-large:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.btn-group-vertical .btn-large:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group-justified {
  display: table;
  width: 100%;
}
.btn-group-justified .btn {
  float: none;
  display: table-cell;
  width: 1%;
}
.btn-group[data-toggle="buttons-radio"] > .btn > input[type="radio"],
.btn-group[data-toggle="buttons-checkbox"] > .btn > input[type="checkbox"] {
  display: none;
}
