.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}
form {
  margin: 0;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  min-height: 34px;
  padding: 6px 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
input,
select,
textarea {
  width: 100%;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  height: auto;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
select,
input[type="file"] {
  height: 34px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size. TODO: Check if this is still needed when dropping IE7 support */

  line-height: 34px;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-top: 5px;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
select.input-large,
textarea.input-large,
input[type="text"].input-large,
input[type="password"].input-large,
input[type="datetime"].input-large,
input[type="datetime-local"].input-large,
input[type="date"].input-large,
input[type="month"].input-large,
input[type="time"].input-large,
input[type="week"].input-large,
input[type="number"].input-large,
input[type="email"].input-large,
input[type="url"].input-large,
input[type="search"].input-large,
input[type="tel"].input-large,
input[type="color"].input-large {
  padding: 11px 14px;
  font-size: 17.5px;
  border-radius: 6px;
}
select.input-small,
textarea.input-small,
input[type="text"].input-small,
input[type="password"].input-small,
input[type="datetime"].input-small,
input[type="datetime-local"].input-small,
input[type="date"].input-small,
input[type="month"].input-small,
input[type="time"].input-small,
input[type="week"].input-small,
input[type="number"].input-small,
input[type="email"].input-small,
input[type="url"].input-small,
input[type="search"].input-small,
input[type="tel"].input-small,
input[type="color"].input-small {
  min-height: 26px;
  padding: 2px 10px;
  font-size: 11.9px;
  border-radius: 3px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  float: none;
  margin-left: 0;
  margin-right: 0;
}
.input-append input[class*="span"],
.input-prepend input[class*="span"] {
  display: inline-block;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  height: 34px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly],
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  background-color: transparent;
}
.has-warning .control-label {
  color: #c09853;
}
.has-warning .input-with-feedback {
  padding-right: 32px;
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .input-with-feedback:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.has-error .control-label {
  color: #b94a48;
}
.has-error .input-with-feedback {
  padding-right: 32px;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .input-with-feedback:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.has-success .control-label {
  color: #468847;
}
.has-success .input-with-feedback {
  padding-right: 32px;
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .input-with-feedback:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.form-actions:before,
.form-actions:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.form-actions:after {
  clear: both;
}
.form-actions:before,
.form-actions:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.form-actions:after {
  clear: both;
}
.help-block,
.help-inline {
  color: #737373;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}
.input-group {
  display: table;
}
.input-group[class*="span"] {
  float: none;
  padding: 0;
}
.input-group input,
.input-group select {
  width: 100%;
}
.input-group-addon,
.input-group-btn,
.input-group input {
  display: table-cell;
  margin: 0;
  border-radius: 0;
}
.input-group-addon.input-small,
.input-group-btn.input-small,
.input-group input.input-small {
  border-radius: 0;
}
.input-group-addon.input-large,
.input-group-btn.input-large,
.input-group input.input-large {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  vertical-align: middle;
}
.input-group-addon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.input-group-addon.input-small {
  padding: 2px 10px;
  font-size: 11.9px;
}
.input-group-addon.input-large {
  padding: 11px 14px;
  font-size: 17.5px;
}
.input-group input:first-child,
.input-group-addon:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group input:first-child.input-small,
.input-group-addon:first-child.input-small {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.input-group input:first-child.input-large,
.input-group-addon:first-child.input-large {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group input:last-child,
.input-group-addon:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-group input:last-child.input-small,
.input-group-addon:last-child.input-small {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group input:last-child.input-large,
.input-group-addon:last-child.input-large {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
  float: left;
  border-radius: 0;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn:first-child,
.input-group-btn:first-child > .dropdown-toggle:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group-btn:first-child > .btn:first-child.btn-large,
.input-group-btn:first-child > .dropdown-toggle:first-child.btn-large {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.input-group-btn:first-child > .btn:first-child.btn-small,
.input-group-btn:first-child > .dropdown-toggle:first-child.btn-small {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.input-group-btn:last-child > .btn:last-child,
.input-group-btn:last-child > .dropdown-toggle {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-group-btn:last-child > .btn:last-child.btn-large,
.input-group-btn:last-child > .dropdown-toggle.btn-large {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.input-group-btn:last-child > .btn:last-child.btn-small,
.input-group-btn:last-child > .dropdown-toggle.btn-small {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
@media screen and (min-width: 768px) {
  .form-horizontal .control-group {
    position: relative;
    margin-bottom: 20px;
  }
  .form-horizontal .control-group:before,
  .form-horizontal .control-group:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .form-horizontal .control-group:after {
    clear: both;
  }
  .form-horizontal .control-group:before,
  .form-horizontal .control-group:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .form-horizontal .control-group:after {
    clear: both;
  }
  .form-horizontal .control-group input,
  .form-horizontal .control-group select,
  .form-horizontal .control-group textarea {
    margin-bottom: 0;
  }
  .form-horizontal .control-group > .control-label {
    float: left;
    width: 160px;
    padding-top: 6px;
    text-align: right;
  }
  .form-horizontal .control-group > .controls {
    margin-left: 180px;
  }
  .form-horizontal .form-actions {
    padding-left: 180px;
  }
}
