.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table thead > tr > th,
.table tbody > tr > th,
.table thead > tr > td,
.table tbody > tr > td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table thead > tr > th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
}
.table-bordered thead > tr > th,
.table-bordered tbody > tr > th,
.table-bordered thead > tr > td,
.table-bordered tbody > tr > td {
  border-left: 1px solid #dddddd;
}
.table-bordered caption + thead > tr:first-child th,
.table-bordered caption + tbody > tr:first-child th,
.table-bordered caption + tbody > tr:first-child td,
.table-bordered colgroup + thead > tr:first-child th,
.table-bordered colgroup + tbody > tr:first-child th,
.table-bordered colgroup + tbody > tr:first-child td,
.table-bordered thead:first-child > tr:first-child th,
.table-bordered tbody:first-child > tr:first-child th,
.table-bordered tbody:first-child > tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child > tr:first-child > th:first-child,
.table-bordered tbody:first-child > tr:first-child > td:first-child,
.table-bordered tbody:first-child > tr:first-child > th:first-child {
  border-top-left-radius: 4px;
}
.table-bordered thead:first-child > tr:first-child > th:last-child,
.table-bordered tbody:first-child > tr:first-child > td:last-child,
.table-bordered tbody:first-child > tr:first-child > th:last-child {
  border-top-right-radius: 4px;
}
.table-bordered thead:last-child > tr:last-child > th:first-child,
.table-bordered tbody:last-child > tr:last-child > td:first-child,
.table-bordered tbody:last-child > tr:last-child > th:first-child,
.table-bordered tfoot:last-child > tr:last-child > td:first-child,
.table-bordered tfoot:last-child > tr:last-child > th:first-child {
  border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child > tr:last-child > th:last-child,
.table-bordered tbody:last-child > tr:last-child > td:last-child,
.table-bordered tbody:last-child > tr:last-child > th:last-child,
.table-bordered tfoot:last-child > tr:last-child > td:last-child,
.table-bordered tfoot:last-child > tr:last-child > th:last-child {
  border-bottom-right-radius: 4px;
}
.table-bordered tfoot + tbody:last-child > tr:last-child > td:first-child {
  border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child > tr:last-child > td:last-child {
  border-bottom-right-radius: 0;
}
.table-bordered caption + thead > tr:first-child > th:first-child,
.table-bordered caption + tbody > tr:first-child > td:first-child,
.table-bordered colgroup + thead > tr:first-child > th:first-child,
.table-bordered colgroup + tbody > tr:first-child > td:first-child {
  border-top-left-radius: 4px;
}
.table-bordered caption + thead > tr:first-child > th:last-child,
.table-bordered caption + tbody > tr:first-child > td:last-child,
.table-bordered colgroup + thead > tr:first-child > th:last-child,
.table-bordered colgroup + tbody > tr:first-child > td:last-child {
  border-top-right-radius: 4px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-span-"] {
  float: none;
  display: table-column;
}
table td[class*="col-span-"],
table th[class*="col-span-"] {
  float: none;
  display: table-cell;
}
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}
